<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>CRUD</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="view/app.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>

<style>
a {
	cursor: pointer;
	background-color: yellow;
}
</style>
</head>
<body>
	<div>
		<h1>FormClientes</h1>
	</div>
	<div ng-controller="ClienteController" ng-init="listClientes()"
		class="container-fluid">
		<form id="clienteForm">
			<div class="row">
				<div class="col-2">
					<label>Código Cliente</label>
				</div>
				<div class="col-2">
					<input type="text" id="id" ng-model="cliente.id" />
				</div>
				<div class="col-2">
					<a ng-click="getCliente(cliente.id)">Buscar Cliente por Codigo</a>
				</div>
				<div class="col-2">
					<a ng-click="deleteCliente(cliente.id)">Apagar Cliente por	Codigo</a>
				</div>
			</div>

			<div class="row">
				<div class="col-2">
					<label>Nome</label>
				</div>
				<div class="col-2">
					<input type="text" id="nome" ng-model="cliente.nome" required />
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label>Valor Limite de Crédito (000.00)</label>
				</div>
				<div class="col">
					<input type="text" id="vrLimiteCredito" ng-pattern="/^[0-9]*[\.{1}]?[0-9]*$/"
						ng-model="cliente.vrLimiteCredito" required />
				</div>
				<div class="col-8"></div>
			</div>

			<div class="row">
				<div class="col-2">
					<label>Risco</label>
				</div>
				<div class="col-2">
					<select id="risco" required
						ng-options="risco as risco.tipo for risco in riscos track by risco.codigo"
						ng-model="selected"></select>
				</div>
				<div class="col-3">
					<a ng-click="addCliente(cliente.nome,cliente.vrLimiteCredito, selected)">Inserir Novo Cliente (codigo será ignorado)</a> 
				</div>
				<div class="col-3">
					<a ng-click="updateCliente(cliente.id, cliente.nome, cliente.vrLimiteCredito, selected)">Atualizar Cliente por Codigo</a>
				</div>
			</div>
		</form>

		<div class="row">
			<p style="color: green">{{message}}</p>
			<p style="color: red">{{errorMessage}}</p>
		</div>

		<div class="row">
			<div class="col-4 text-center">
				<a ng-click="listClientes()">Refresh da Lista de Clientes</a>
			</div>
		</div>

		<div class="row">
			
			<div class="col text-center bg-primary text-white">
				Codigo
			</div>
			<div class="col text-center bg-primary text-white">
				Nome
			</div>
			<div class="col text-center bg-primary text-white">
				Taxa de Risco
			</div>
			<div class="col text-center bg-primary text-white">
				Valor Limite Credito
			</div>
		</div>

		<div ng-repeat="cli in clientes" class="row">
			
			<div class="col text-center">
				<a ng-click="getCliente(cli.id)">{{cli.id}}</a>
			</div>
			<div class="col text-center">
				{{cli.nome}}
			</div>
			<div class="col text-center">{{cli.risco.tipo}}</div>
			<div class="col text-center">{{cli.vrLimiteCredito}}</div>
		</div>
	</div>
</body>
</html>